@use "./include.scss" as *;
@use "/home/justalternate/.cache/wal/colors.scss" as *;

$font: Hack;

$sapphire: 		#74c7ec;
$red: 		 	#f38ba8;
$reddark:               #cc0000;
$green: 		#a6e3a1;
$blue: 			#5277C3;
$text: 			$color3;
$subtext1: 		$color1;
$subtext0: 		$color0;
$overlay2: 		$foreground;
$overlay1: 		$foreground;
$overlay0: 		$foreground;
$surface2: 		$foreground;
$surface1: 		$foreground;
$surface0: 		$color1;
$base: 			$background;

scale trough {
	background-color: $surface2;
	border-radius: 5px;
	min-height: 10px;
	min-width: 80px;
	margin: 0px 5px;
}

tooltip * {
	margin: 4px;
	background-color: $base;
  color: $text;
	border-radius: 10px;
	font-family: $font;
	font-weight: bold;
}

tooltip {
	margin: 4px;
  background: $base;
	background-color: $base;
	color: $text;
	font-family: $font;
	font-weight: bold;
	border-radius: 10px;
}

.popup {
	margin: 4px;
  background: $base;
	background-color: $base;
	color: $text;
	font-family: $font;
	font-weight: bold;
	border-radius: 10px;
}

.hbar {
	background-color: rgba($base, 1);
	padding: 5px 10px 8px 10px;
	border-radius: 20px;
}

.nixos_icon {
	color: $sapphire;
	font-size: 28;
}

.workspaces-widget {
	background-color: $surface0;
	border-radius: 20;
	padding: 0px 8px;
}

.workspace-entry {
	font-size: 10px;
	padding: 0px 10px;

	&.current *  {
		color: $background;
	}

	&.occupied {
		color: $color3;
	}

	&.empty {
		color: $color4;
	}
}

@keyframes slide {
  0% { margin-left:-50px; }
  50% { margin-left:50px; }
  100% { margin-left:-50px; }
}

.clock {
	font-family: $font;
	font-weight: bold;
	font-size: 18px;
	color: $foreground;
	//animation-name: slide;
	//animation-duration: 5s;
	//animation-iteration-count: infinite;
	//animation-timing-function: linear;
}

.container {
	background-color: $surface0;
	border-radius: 8px;
	padding: 0px 10px;
}

.wifi_icon {
	color: $color5;
	padding: 0px 6px;
	font-size: 20;
}

.wifi_text {
	font-family: $font;
	color: $color5;
	margin: 0px 5px;
	font-weight: bold;
}

@keyframes critical {
	0% { color: $red; }
	50% { color: $reddark; }
	100% { color: $red; }
}

.battery {
	font-size: 20;
	color: $green;

	&.critical {
		animation-name: critical;
		animation-duration: 2s;
		animation-iteration-count: infinite;
	}
}

.battery_text {
	font-family: $font;
	color: $green;
	margin: 0px 5px;
	font-weight: bold;
}

.brightness_icon {
	color: $color3;
	font-size: 20;
	padding-right: 6px;
}

.brightness_bar trough highlight {
	background-color: $color3;
	border-radius: 5px;
}

.volume_icon {
	color: $color4;
	font-size: 22;
	padding-right: 4px;
}

.volume_bar trough highlight {
	background-color: $color4;
	border-radius: 5px;
}

.mic_icon {
	color: $color6;
	font-size: 20;
}

.power_icon {
	color: $red;
	padding-right: 6px;
	font-size: 20;
}
.tray_box {
  margin: 0 6px 6px;
  padding: 10px 0;
  border-radius: 6px;
  background: $surface0;
}

.mic-dropdown {
  background-color: $foreground;
  padding: 10px;
  border-radius: 5px;
}

.mic-dropdown button {
  background-color: $foreground;
  color: $color1;
  padding: 5px;
  border: none;
  margin: 2px 0;
}

button:hover {
  background-color: $color4;
}
