@import '/home/justalternate/.cache/wal/colors-waybar.css';


/* Reset all styles */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;
	text-shadow: none;
	icon-shadow: none;
}

#waybar {
    font-family: "Hack";
		font-size: 22px;
    background: rgba(40, 40, 40, 0.8784313725);
}

#window {
    padding: 0 10px;
}

window#waybar {
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
    transition-duration: 0s;
    color: @foreground;
    background: @background;
} 

#workspaces {
    margin: 0;
		margin-left: 3px;
		padding: 0;
		font-size: 16px;
		border-radius: 4px;
}

#workspaces button {
    padding: 0px 5px;
		margin: 3px;
		border-radius: 4px;
    color: @color1;
}

#workspaces button.visible {
    color: @color2;
}

#workspaces button.active {
    color: @color2;
}

#workspaces button.urgent {
    background-color: @color3;
    color: white;
}

/* Repeat style here to ensure properties are overwritten as there's no !important and button:hover above resets the colour */

#workspaces button.focused {
    color: @color2;
}
#workspaces button.focused:hover {
    color: @color3;
}

#tray,
#mode,
#battery,
#temperature,
#cpu,
#memory,
#network,
#pulseaudio,
#backlight,
#custom-media {
  padding: 0 8px;
  margin: 0 1px;
  color: @color1;
  border-radius: 6px 6px;
}

#battery.warning {
    color: rgba(255, 210, 4, 1);
}

#battery.critical {
    color: rgba(238, 46, 36, 1);
}

#custom-yubilock {
    padding: 0 10px;
    border-radius: 10px;
    margin: 6px 0;
}

#custom-yubilock.yubilock-on {
    background-color: @background;
    color: #ffffff;
}

#custom-yubilock.yubilock-off {
    background-color: @background;
    color: #ffffff;
}

#custom-yubilock.yubilock-on:hover,
#custom-yubilock.yubilock-off:hover {
    background-color: @background;
}
